/* GLOBAL */

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.alice-hate {
  display: none !important;
}

.pull-right {
  float: right;
}

.valign {
  position: relative;
  top: 0%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.email-heading, .email-heading span {
  font-size: 18px;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

h6 {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

a:visited {
  color: inherit;
}

/* PACE */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}



/* HEADER */

header {
  padding: 8px 8px;
  background-color: white;
  z-index: 10;
  
  width: 100%;
  box-sizing: border-box;

}

header > div {
  position: relative;
}

.header-text {
  display: inline-block;
  padding: 10px 10px;
}

.header-logo {
  display: none;
}

.collapse-button {
  display:inline-block;
  right: 0px;
  position: absolute;
  padding: 7px 10px;
}

.collapse-button:hover {
  background: #eee;
}

.desktop {
  display: none;
}

.icon-bar {
  background-color: #000;
  border-radius: 1px 1px 1px 1px;
  display: block;
  height: 2px;
  width: 18px;
  margin: 2px 0;
}

/* Navigation */

.slider {
  display: none;
}

nav {
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  height: 0px;
  transition: height 230ms ease-out;
  -webkit-transform: translateZ(0);
}

nav li {
  border-bottom: 1px solid #eee;
}

nav li:hover {
  background: #eee;
}

nav a {
  display: block;
  font-size: 10px;
  line-height: 14px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: none;
  color: #666;
  padding: 6px 0px 6px 16px;
}

.nav-enter {
  height: 0px;
  -webkit-transform: translateZ(0);
}

.nav-enter-active {
  height: 81px;
  transition: all 230ms ease-in;
  -webkit-transform: translateZ(0);
}

.nav-leave {
  height: 81px;
  transition: all 230ms ease-in;
  -webkit-transform: translateZ(0);
}

.nav-leave-active {
  height: 0;
  transition: all 230ms ease-in;
  -webkit-transform: translateZ(0);
}

/* Jumbotron */

.Jumbotron {
  background: url('./assets/images/ccposter.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-color: black;
  background-attachment: fixed;
}

/* Footer */

footer {
  text-align: center;
  padding: 100px 10px;
  margin: 0px;
  margin-bottom: 0;
  font-size: 10px;
  line-height: 19px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer p, footer img {
  margin-bottom: 15px;
}

footer img {
  width: 36px;
}

.footer-logo {
  width: 36px;
}

footer img:nth-child(3) {
  width: 40px;
}

/* About Page */

/* Parallax Section */

.Parallax {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10% 10%;
  box-sizing: border-box;
}

.Parallax.woody {
  background-image: url('./assets/images/01.png');
}
.Parallax.nomad {
  background-image: url('./assets/images/02.jpg');
}
.Parallax.books {
  background-image: url('./assets/images/03.png');
}
.Parallax.skybuilding {
  background-image: url('./assets/images/04.png');
}
.Parallax.sippy {
  background-image: url('./assets/images/05.jpg');
}
.Parallax.doors {
  background-image: url('./assets/images/contact.jpg');
  padding-top: 200px;
  padding-bottom: 200px;
  height: auto;
  background-position: 50% 0px;
  background-size: cover;
}
.Parallax.mountains {
  background-image: url('./assets/images/contact2.jpg');
}

.CenterBoxText {
  border: 5px solid black;
  padding: 4px;
  font-size: 24px;
  letter-spacing: 4px;
  line-height: 31px;
  text-align: center;
}

.CenterBoxText.white {
  color: white;
  border: 5px solid white;

}

.CenterBoxText.gray {
  color: rgb(150,150,150);
  border: 5px solid rgb(150,150,150);
}

.CenterBoxText.gray.fillBlack {
  background: black;
}

/* Contact Form */

.CenterBoxText.contact {
  font-size: 36px;
  line-height: 55px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 8px;
  border: solid 5px;
  padding: 15px 30px;
  padding-right: 20px;
  margin: 0 auto;
}

form {
  background: url('./assets/images/contact2.jpg');
  padding: 100px 20px 100px 20px;
  box-sizing: border-box;
  background-size: cover;
  overflow: hidden;
}

.contact-form div.form {
  background: black;
  padding: 75px 30px;
}

.address {
  background: white;
  text-align: center;
  padding: 75px 30px;
  display:block;
}

.contact-form input {
  height: 50px !important;
}

.contact-form input, .contact-form textarea, .contact-form button {
  background: transparent;
  border: none !important;
  border: 2px solid !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  color: #444;
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 25px !important;
  margin-bottom: 30px !important;
  padding: 15px !important;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.contact-form button {
  border-color: white;
  color: white;
  text-transform: uppercase;
}

.contact-form button:hover {
  color: black;
  background-color: white;
  -webkit-transition: all 0.5s linear;
}

.address h1 {
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 19px;
}

.address h1 {
  color: #ffc740;
}


@media (min-width: 992px) {

  .slider {
    display: none;
  }

  .valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .form-error {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background: red;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    text-shadow: none;
    font-size: 10px;
    line-height: 17px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ffc740;
  }



  /* Footer Desktop */

  footer {
    text-align: inherit;
    padding: 100px;
  }

  footer p, footer img {
    display: inline-block;
  }

  footer p, footer img {
    margin-bottom: 0px;
    vertical-align: middle;
  }

  .footer-set {
    float: right;
  }

  footer p {
    margin: 0px;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 19px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 50px;
    text-align: right;
  }

  /* CenterBoxText at Desktop */
  .CenterBoxText {
    padding: 5px;
    box-sizing: border-box;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 200;
  }

  .Parallax:nth-of-type(odd) {
    justify-content: flex-start;
  }

  .Parallax:nth-of-type(even) {
    justify-content: flex-end;
  }

  .form, .address {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 70px;
    float: left;
    position: relative;
  }

  .address {
    height: 657px;
  }

  footer {
    clear: both;
  }

  .contact-container {
    display: block;
  }

  .contact-form div.form {
    background: black;
    padding: 70px;
  }

  .contact-form button {
    width: 50%;
  }

  form {
    padding: 100px 80px;
  }




}


@media (min-width: 1200px) {

  /* Header Desktop */ 

  .collapse-button {
    display: none;
  }

  .desktop:hover {
    background: inherit;
  }

  .desktop {
    display: inline-block;
    font-size: 20px;
    position: fixed;
    width: 40px;
    z-index: 999;
    transform: rotate(0deg);
    transition: all 300ms ease-out;
    will-change: transform;
  }

  .turn-button {
    transform: rotate(-90deg);
    transition: all 300ms ease-out;
    will-change: transform;
  }

  .unturn-button {
    transform: rotate(0deg);
    transition: all 300ms ease-out;
    will-change: transform;
  }

  .icon-bar {
    width: 40px;
    height: 4px;
    margin-bottom: 6px;
    background: #FE8C64;
    display: block;
  }

  .header-text {
    display: none;
  }

  .header-logo {
    display: inline-block;
  }

  header {
    position: fixed;
    background: transparent;
  }

  /* Slider */

  .slider {
    right: 3000px;
    display: block;
    position: fixed;
    height: 100vh;
    width: 66.66vw;
    z-index: 9;
    background: url('./assets/images/menu.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
  }

  .slider-in {
    transform: translateX(0px);
    transition: 1200ms ease-out;
    will-change: transform;
  }

  .slider-background {
    width: 50%;
    display: inline-flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .slider-menu {
    background: white;
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    padding: 80px;
    box-sizing: border-box;
    color: black;
  }

  .slider-menu li {
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: right;
  }

  .slider-menu a {
    color: black;
  }

  .slider-menu > div {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  .copy-credits {
    text-align: right;
    text-align: right;
    margin-top: 60px;
    border-top: solid 1px;
    padding-top: 10px;
  }

  .copy-credits img {
    width: 30px;
  }

  .slider-background {
    align-items: center;
    justify-content: center;
    display: inline-flex;
  }

  .slider-img-container {
    height: 0px;
    overflow: hidden;
  }

  .show-slider-img {
    height: 60px;
  }

  /* Footer Desktop */

  footer {
    text-align: inherit;
    padding: 100px;
  }

  footer p, footer img {
    display: inline-block;
  }

  footer p, footer img {
    margin-bottom: 0px;
    vertical-align: middle;
  }

  .footer-set {
    float: right;
  }

  footer p {
    margin: 0px;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 19px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 50px;
    text-align: right;
  }

  .cclogo-footer {
    float: right;
  }



  /* CONTACT FORM DESKTOP 1200px */

}


.loader {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background: white;
}